process.env['ADIVINHE_SALTING'] = ""
process.env['ADIVINHE_RECAPTCHA_PRIVATEKEY'] = ""
process.env['ADIVINHE_FACEBOOK_ID'] = ""
process.env['ADIVINHE_FACEBOOK_CLIENTSECRET'] = ""
process.env['ADIVINHE_NODEPATH'] = ""
process.env['MONGO_URL'] = ""